*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 120px;
}
.head-top{
    width: 100%;
    height: 30px;
    background: linear-gradient(-30deg,rgba(255,213,60,.71) 10%,rgba(161,230,243,.78)) no-repeat;
}
.head-top>div{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    /*background: greenyellow;*/
}
.head-top>div>span{
    /*background: red;*/
    font-size: 14px;
    float: right;
    line-height: 30px;
}
.head-bottom{
    width: 100%;
    height: 90px;
    background: #fff;
}
.head-bottom>.head-bottom-main{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}
.head-bottom>.head-bottom-main>.head-bottom-left{
    width: 300px;
    height: 100%;
    /*background: #a3ffb8;*/
    float: left;
    position: relative;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>img{
    float: left;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>h1{
    font-size: 24px;
    float: left;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>p{
    font-size: 14px;
    float: left;
}
.head-bottom>.head-bottom-main>.head-bottom-right{
    width: 600px;
    height: 100%;
    /*background: #feffc9;*/
    float: right;
}
.head-bottom>.head-bottom-main>.head-bottom-right>ul{
    list-style: none;
    float: right;
}
.head-bottom>.head-bottom-main>.head-bottom-right>ul>li{
    float: left;
    margin-left: 20px;
    line-height: 90px;
    font-size: 14px;
}
.head-bottom>div{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    /*background: rosybrown;*/
}
.edit{
    width: 100%;
}
.edit>.edit-main{
    width: 1120px;
    margin: 0 auto;
}
.edit>.edit-main>input{
    width: 1120px;
    height: 32px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-indent: 1em;
}
.edit>.edit-main>.toolbar {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 16px;
}
.edit>.edit-main>.text {
    width: 100%;
    border: 1px solid #ccc;
    height: 400px;
}
.edit>.edit-main>.label{
    width: 100%;
    margin-top: 16px;
}
.edit>.edit-main>.label>label{
    font-size: 14px;
}
.edit>.edit-main>.label>select{
    width: 100px;
}
.edit>.edit-main>.catalog{
    width: 100%;
    margin-top: 16px;
}
.edit>.edit-main>.catalog>label{
    font-size: 14px;
}
.edit>.edit-main>.catalog>select{
    width: 100px;
}
.edit>.edit-main>.put{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.tail{
    width: 100%;
    height: 60px;
    /*background: #beffd1;*/
}
.tail>.tail-top{
    width: 100%;
    height: 200px;
    background: #555;
}
.tail>.tail-bottom{
    width: 100%;
    height: 60px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
.tail>.tail-bottom>p{
    line-height: 60px;
}
.tail>.tail-bottom>p>img{
    vertical-align: middle;
    margin-left: 6px;
}
