*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 120px;
}
.head-top{
    width: 100%;
    height: 30px;
    background: #24292e;
}
.head-top>div{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    /*background: greenyellow;*/
}
.head-top>div>span{
    /*background: red;*/
    font-size: 14px;
    float: right;
    line-height: 30px;
    color: #fff;
}
.head-bottom{
    width: 100%;
    height: 90px;
    background: #fff;
}
.head-bottom>.head-bottom-main{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}
.head-bottom>.head-bottom-main>.head-bottom-left{
    width: 300px;
    height: 100%;
    /*background: #a3ffb8;*/
    float: left;
    position: relative;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>img{
    float: left;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>h1{
    font-size: 24px;
    float: left;
    color: #333;
    font-weight: 500;
}
.head-bottom>.head-bottom-main>.head-bottom-left>div>p{
    font-size: 14px;
    float: left;
    color: #333;
}
.head-bottom>.head-bottom-main>.head-bottom-right{
    width: 600px;
    height: 100%;
    /*background: #feffc9;*/
    float: right;
}
.head-bottom>.head-bottom-main>.head-bottom-right>ul{
    list-style: none;
    float: right;
    /*background: skyblue;*/
}
.head-bottom>.head-bottom-main>.head-bottom-right>ul>li{
    float: right;
    margin-left: 16px;
    line-height: 90px;
    font-size: 14px;
    /*background: orange;*/
}
.head-bottom>.head-bottom-main>.head-bottom-right>ul>li>a{
    text-decoration: none;
    color: #696969;
}
.head-bottom>div{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    /*background: rosybrown;*/
}
.edit{
    width: 100%;
}
.edit>.edit-main{
    width: 1120px;
    margin: 0 auto;
}
.edit>.edit-main>input{
    width: 1120px;
    height: 32px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-indent: 1em;
    /*background: #efefef;*/
    /*outline: none;*/
}
.edit>.edit-main>.toolbar {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 16px;
    /*background: #f8f8f8;*/
}
.edit>.edit-main>.text {
    width: 100%;
    border: 1px solid #ccc;
    height: 400px;
}
.edit>.edit-main>.label{
    width: 100%;
    margin-top: 16px;
}
.edit>.edit-main>.label>label{
    font-size: 14px;
    font-weight: 500;
}
.edit>.edit-main>.label>input{
    width: 80px;
    margin-left: 16px;
    text-indent: 1em;
}
.edit>.edit-main>.label>button{
    margin-left: 16px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    background: #349edf;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.edit>.edit-main>.label>.del{
    display: inline;
    width: 14px;
    height: 16px;
    font-size: 12px;
    background: #da7777;
    text-align: center;
    margin-left: 2px;
    color: #fff
}
.edit>.edit-main>.catalog{
    width: 100%;
    margin-top: 16px;
}
.edit>.edit-main>.catalog>label{
    font-size: 14px;
    font-weight: 500;
}
.edit>.edit-main>.catalog>select{
    width: 80px;
    margin-left: 16px;
}
.edit>.edit-main>.catalog>input{
    width: 80px;
    text-indent: 1em;
    margin-left: 12px;
}
.edit>.edit-main>.catalog>button:nth-of-type(1){
    margin-left: 16px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    background: #349edf;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.edit>.edit-main>.catalog>button:nth-of-type(2){
    margin-left: 16px;
    width: 30px;
    height: 20px;
    font-size: 12px;
    background: #349edf;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.edit>.edit-main>.put{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.edit>.edit-main>.put>button{
    width: 74px;
    height: 26px;
    background: #fff;
    border: 1px solid #c92027;
    color: #c92027;
    font-size: 15px;
}
.tail{
    width: 100%;
    height: 60px;
    /*background: #beffd1;*/
}
.tail>.tail-main{
    width: 100%;
    height: 60px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
.tail>.tail-main>p{
    line-height: 60px;
}
.tail>.tail-main>p>a{
    text-decoration: none;
    color: #000;
}
.tail>.tail-main>p>img{
    vertical-align: middle;
    margin-left: 6px;
}
